{% extends 'base.html' %}

{% block content %}
<div class="col col-md-5">
	<h1>Registro</h1>
	<form role="form" method="post" name="registro">
	<div class="form-group">
		<label for="">Nombre:</label>
		<input class="form-control" type="text" name="nombre" placeholder="Nombre Completo" required>
	</div>
	<div class="form-group">
		<label for="">Correo:</label>
		<input class="form-control" type="email" name="email" placeholder="Correo electrónico" required>
	</div>
	<div class="form-group">
		<label for="">Comentario:</label>
		<textarea class="form-control" name="comentario" rows="5" placeholder="Déjanos tu mensaje..."></textarea>
	</div>
	<div>
		<button class="btn btn-default" type="reset">Limpiar</button>
		<button class="btn btn-success" type="submit">Enviar</button>
	</div>
	</form>
</div>
{% endblock %}