{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h1>Listado de registros</h1>
		<table class="table table-bordered table-hover">
		<thead>
			<th class="success" style="width:30px;">Nombre</th>
			<th class="success" style="width:30px;">Email</th>
			<th class="success" style="width:50px;">Comentario</th>
			<th class="success" style="width:20px;">Fecha</th>
			<th class="success" style="width:20px;">Link</th>
		</thead>
		<tbody>
			{% for registro in registros %}
			<tr>
				<td>{{ registro.nombre }}</td>
				<td>{{ registro.email }}</td>
				<td>{{ registro.comentario }}</td>
				<td>{{ registro.fecha_registro }}</td>
				<td><a href="/registro/{{ registro.key.id() }}">{{ registro.key }} Ver más</a></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}