{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Bienvenido</h1>
		<a class="btn btn-success" href="{{ url }}">Entrar</a>
	</div>
</div>
{% endblock %}